# This requirements file is meant to be installed by: pip install --no-deps -r airflow.requirements.txt
# This file contains all dependencies for Airflow running with GCP additions & a Postgres backend
# This is because Airflow version 1.10.6 has some subdependency bugs:
#   google-cloud-container should be 0.1.1, not 0.4.0
#   marshmallow should be 2.19.5, not 3.5.0
#   Werkzeug should be 0.16.0, not 1.0.0

alembic==1.4.0
apache-airflow==1.10.11
apispec==3.3.0
argcomplete==1.11.1
attrs==19.3.0
Babel==2.8.0
cached-property==1.5.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.31
cryptography==2.8
defusedxml==0.6.0
dill==0.3.1.1
docutils==0.16
Flask==1.1.1
Flask-Admin==1.5.3
Flask-AppBuilder==1.13.1
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
flask-swagger==0.2.13
Flask-WTF==0.14.3
funcsigs==1.0.0
future==0.16.0
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.8.1
google-cloud-bigtable==0.33.0
google-cloud-container==0.1.1
google-cloud-core==1.3.0
google-cloud-dlp==0.13.0
google-cloud-language==1.3.0
google-cloud-spanner==1.9.0
google-cloud-speech==1.3.2
google-cloud-storage==1.26.0
google-cloud-texttospeech==0.5.0
google-cloud-translate==2.0.1
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
graphviz==0.13.2
grpc-google-iam-v1==0.11.4
grpcio==1.27.2
grpcio-gcp==0.2.2
gunicorn==19.10.0
httplib2==0.17.0
idna==2.9
importlib-metadata==1.5.0
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
json-merge-patch==0.2
jsonschema==3.2.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.1
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.18.0
numpy==1.18.1
oauthlib==3.1.0
ordereddict==1.1
pandas==0.25.3
pandas-gbq==0.13.1
pendulum==1.4.4
prison==0.1.0
protobuf==3.11.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydata-google-auth==0.3.0
Pygments==2.5.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyrsistent==0.15.7
psycopg2-binary==2.7.7 # used for local Postgres container for airflow db
python-daemon==2.1.2
python-dateutil==2.8.1
python-editor==1.0.4
python3-openid==3.1.0
pytz==2019.3
pytzdata==2019.3
PyYAML==5.3
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
setproctitle==1.1.10
six==1.14.0
SQLAlchemy==1.3.13
tabulate==0.8.6
tenacity==4.12.0
termcolor==1.1.0
text-unidecode==1.2
thrift==0.13.0
tzlocal==1.5.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.8
Werkzeug==0.16.0
WTForms==2.2.1
zipp==3.0.0
zope.deprecation==4.4.0
